In [1]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [2]:
df_train = pd.read_csv('formulatedtrain.csv')
df_test = pd.read_csv('formulatedtest.csv')
df_original_test = pd.read_csv('test.csv')

In [3]:
X_tra=df_train.drop(['SalePrice'],axis=1)
Y_tra=df_train['SalePrice']

x_test=df_test

In [4]:
X_train, X_test, Y_train, Y_test = train_test_split(X_tra, Y_tra, test_size=0.3, random_state=44)
model = linear_model.LinearRegression()
model.fit(X_train, Y_train)
y_pred_train = model.predict(X_train)

print("\nTrain Test: ", y_pred_train[0:10])

Train Test:  [123929.76330234 321833.45633984 107383.14107031 273835.77188653
 289656.40697455 206105.03407672 136572.16458076 195463.71960991
 149713.96971379 181143.92956372]

# Modelin RMSE vsç gibi doğruluk ölçütlerinin hesaplanması

In [5]:
def rmse_cv(model):
    rmse = np.sqrt(-cross_val_score(model, X_train, Y_train, scoring="neg_mean_squared_error", cv=5)).mean()
    return rmse

In [6]:
import math 
MSE = np.square(np.subtract(Y_train,y_pred_train)).mean() 
RMSE = math.sqrt(MSE)

RMSE_Cross_Val = rmse_cv(model)

R2_Score =  r2_score(Y_train, y_pred_train)

In [7]:
RMSE

29636.497674812475

In [8]:
R2_Score

0.8726896086246235

In [9]:
RMSE_Cross_Val

33859.62762799673

# Test.csv dosyasının SalePrice sütununun tahminleri.

In [10]:
df_test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,2,80.0,11622,1,3,3,0,4,0,...,0,0,0,120,0,0,6,2010,8,4
1,20,3,81.0,14267,1,0,3,0,0,0,...,36,0,0,0,0,12500,6,2010,8,4
2,60,3,74.0,13830,1,0,3,0,4,0,...,34,0,0,0,0,0,3,2010,8,4
3,60,3,78.0,9978,1,0,3,0,4,0,...,36,0,0,0,0,0,6,2010,8,4
4,120,3,43.0,5005,1,0,1,0,4,0,...,82,0,0,144,0,0,1,2010,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,4,21.0,1936,1,3,3,0,4,0,...,0,0,0,0,0,0,6,2006,8,4
1455,160,4,21.0,1894,1,3,3,0,4,0,...,24,0,0,0,0,0,4,2006,8,0
1456,20,3,160.0,20000,1,3,3,0,4,0,...,0,0,0,0,0,0,9,2006,8,0
1457,85,3,62.0,10441,1,3,3,0,4,0,...,32,0,0,0,0,700,7,2006,8,4
1458,60,3,74.0,9627,1,3,3,0,4,1,...,48,0,0,0,0,0,11,2006,8,4

In [11]:
y_pred_test = model.predict(x_test)

In [12]:
df_original_test["SalePrice"] = y_pred_test
df_original_test["SalePrice"] = df_original_test["SalePrice"]
df_original_test.to_csv("Test_pred.csv")

# burada df_original_test csv dosyasını kullanmamızın nedeni, tahminleri yapmak için formülüze ettiğimiz dataset de anlamsız 
# sütunlar olacak. Çünkü label_encode işlemi yaptık. Bu yüzden de yapılan tahminlerin sonucunu orjinal test csv dosyasına
# sale price sütunu ekleriz. Ve yeni bir Test_pred.csv adında yeni bir cvs dosyasına attık. Sonuç olarak eğittiğimiz model 
# ile test.csv dosyasındaki verileri tahmin ettik.

In [13]:
test_pred = pd.read_csv("Test_pred.csv")
test_pred

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,118872.123198
1,1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,167447.975577
2,2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,177616.829339
3,3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,190241.270597
4,4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,184833.762720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,75020.237916
1455,1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,61620.376683
1456,1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,163923.612966
1457,1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,117773.978479
1458,1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,231825.237108